body {
  background-image: linear-gradient(#ffcc88, #ffee88);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: arial;
  display: block;
  margin: 40px;
  text-align: left;
}

.main {
  display: block;
  max-width: 1152px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: arial;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border-color: #ff8800;
  border-style: outset;
  background-color: #ffeeaa;
  color: #ff8800;
  margin-bottom: 0px;
  text-shadow: 3px 3px black;
  letter-spacing: 1px;
  font-size: 50px;
  padding: 6px;
}

h2 {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  color: white;
  border-style: outset;
  border-color: #ff8800;
  background-color: #ff8800;
  margin-bottom: 0px;
  font-size: 36px;
}

h3 {
  font-family: arial;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 28px;
}

h4 {
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
}

h6 {
  font-style: italic;
  font-size: 14px;
}

p {
  font-size: 22px;
}

ol {
  font-size: 22px;
}

ul {
  font-size: 22px;
}

img {
  margin-right: 35px;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 20px;
  float: left;
  border-color: #ff8800;
}

.special {
  color: #000000;
  font-style: normal;
  font-size: 20px;
  border-style: outset;
  border-color: #ffeeaa;
  background-color: #ffeeaa;
  margin-top: 6px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

#special {
  padding: 20px 40px;
  font-size: 22px;
}

#specialb {
  display: block;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 22px;
  padding: 4px;
}

a {
  text-decoration: none;
  color: #0000ff;
}

#samepage {
  color: #ffffff;
  text-decoration: underline;
}

.navbar > a {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 8px;
  height: 26px;
  color: #ffffff;
  padding: 2px 4px;
}

.nav {
  background-color: #0000ff;
  margin: 2px;
}

.samepage {
  background-color: #ff0000;
  margin: 2px;
}

#button {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 8px;
  color: #ffffff;
  padding: 2px 4px;
}

#button a {
  text-decoration: underline;
  color: #ffffff;
}

.why {
  max-width: 640px;
  max-height: 480px;
  padding: 10px;
  overflow-y: scroll;
  margin: 10px;
  border-style: outset;
  border-color: #ff8800;
  background-color: #ff8800;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.why > h2 {
  border-color: #ffee88;
  background-color: #ffee88;
  color: #000000;
}

.hidden {
  display: none;
}
