html {
  border-right: 2px solid #000000;
}

html, * {
  scrollbar-color: #ffcc88 #ff8800;
}

html, body {
  overscroll-behavior-y: none;
}

body {
  background-image: linear-gradient(#ffcc88, #ffee88);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: arial;
  display: block;
  margin: 40px;
  text-align: left;
}

.main {
  display: block;
  max-width: 1152px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  scrollbar-color: #ffcc88 #ff8800;
}

h1 {
  font-family: arial;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border: 3px outset #ff8800;
  background-color: #ffeeaa;
  color: #ff8800;
  margin-bottom: 0px;
  text-shadow: 3px 3px black;
  letter-spacing: 1px;
  font-size: 50px;
  padding: 6px;
}

h2 {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  color: white;
  border: 3px outset #ff8800;
  background-color: #ff8800;
  margin-bottom: 0px;
  font-size: 36px;
  padding: 2px;
}

h3 {
  font-family: arial;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 28px;
}

h4 {
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
}

h5 {
  font-family: arial;
  font-style: italic;
  font-size: 18px;
}

h6 {
  font-style: italic;
  font-size: 14px;
}

p {
  font-size: 22px;
}

ol {
  font-size: 22px;
}

ul {
  font-size: 22px;
}

img {
  margin-right: 35px;
  width: 400px;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: #ff8800;
  color: #ffffff;
}

pre {
  overflow: auto;
}

.special {
  color: #000000;
  font-style: normal;
  font-size: 20px;
  border: 3px outset #ffeeaa;
  background-color: #ffeeaa;
  margin-top: 6px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

#special {
  padding: 20px 40px;
  font-size: 22px;
}

#specialb {
  display: block;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 22px;
  padding: 4px;
}

a {
  text-decoration: none;
  color: #0000ff;
}

#samepage {
  color: #ffffff;
  text-decoration: underline;
}

.navbar > a, #button {
  border: 2px solid #ffffff;
  border-radius: 8px;
  height: 26px;
  color: #ffffff;
  padding: 2px 4px;
}

.nav {
  background-color: #0000ff;
  margin: 2px;
}

.samepage {
  background-color: #ff0000;
  margin: 2px;
}

#button a {
  text-decoration: underline;
  color: #ffffff;
}

.hidden {
  display: none;
}

/* POTATO POWER */

@media screen and (max-width: 1010px) {
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h4, p, ol, ul, pre, .special, .navbar, #special {
    font-size: 16px;
  }
  
  h5 {
    font-size: 13px;
  }
  
  h6 {
    font-size: 10px;
  }
  
  img {
    width: 200px;
  }

  .navbar > a, #button {
    height: 18px;
  }

  .potatonoshow {
    display: none;
  }
}
